#objectifs {
  padding-top: 8rem;
  padding-bottom: 5rem;
  h1 {
    margin-bottom: 4rem;
    text-align: center;
  }
  .row {
    & > div {
      margin-bottom: 20px;
    }
  }
  .card {
    border-radius: 15px;
    overflow: hidden;
    padding: 20px 25px;
    border: none;
    height: 100%;
    position: relative;
    h3 {
      z-index: 1;
      margin-bottom: 15px;
      font-size: 24px;
    }
    p {
      z-index: 1;
      font-family: $font-regular, sans-serif;
      font-size: 16px;
    }
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      width: 10px;
      height: 100%;
      transition: width 200ms;
    }
    &:hover {
      color: white;
      &::before {
        transition: width 400ms;
        width: 100%;
      }
    }
    &.info::before {
      background-color: $color-info;
    }
    &.danger::before {
      background-color: $color-danger;
    }
    &.dark::before {
      background-color: $color-text;
    }
    &.default::before {
      background-color: $color-default;
    }
    &.warning {
      &:hover {
        color: $color-text;
      }
      &::before {
        background-color: $color-warning;
      }
    }
  }
  @include mq(md) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
