#section3 {
  border-radius: 20px 20px 0 0;
  background-color: #4d566a;
  padding-top: 20rem;
  padding-bottom: 3rem;
  position: relative;
  color: white;
  @include mq(md) {
    padding-top: 50px;
  }
  & > img {
    position: absolute;
    left: -12vw;
    top: 100px;
    width: 30vw;
    max-width: 20rem;
    @include mq(md) {
      display: none;
    }
  }
  .container {
    & > div {
      padding-left: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 5rem;
      img {
        margin-right: 3rem;
      }
      h4 {
        margin-bottom: 20px;
      }
      @include mq(md) {
        flex-direction: column;
        padding-left: 0;
        img {
          margin-bottom: 30px;
          margin-right: 0;
        }
      }
    }
  }
}
